#s4 .box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#s4 .img-box {
	width: 40%;
	max-width: 300px;
}

.img-box img {
	display: block;
	/*width:100%;*/
}

#s4 .txt-box {
	width: 60%;
	text-align: left;
}